version: '3'
services:
  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/adaptive-learning
      - JWT_SECRET=your_jwt_secret_here
    depends_on:
      - mongodb

volumes:
  mongodata:
